:root {
    --box-shadow1:-8px 8px 16px rgba(19, 19, 19, 0.2),
        8px -8px 16px rgba(19, 19, 19, 0.2),
        -8px -8px 16px rgba(63, 63, 63, 0.9),
        8px 8px 20px rgba(19, 19, 19, 0.9),
        inset 1px 1px 2px rgba(63, 63, 63, 0.3),
        inset -1px -1px 2px rgba(19, 19, 19, 0.5);

        --box-shadow2:-5px 5px 10px rgba(28, 28, 28, 0.2),
            5px -5px 10px rgba(28, 28, 28, 0.2),
            -5px -5px 10px rgba(54, 54, 54, 0.9),
            5px 5px 13px rgba(28, 28, 28, 0.9),
            inset 1px 1px 2px rgba(54, 54, 54, 0.3),
            inset -1px -1px 2px rgba(28, 28, 28, 0.5);

        --box-shadow3:box-shadow: -2px 2px 4px rgba(16, 16, 16, 0.2), 2px -2px 4px rgba(16, 16, 16, 0.2), -2px -2px 4px rgba(66, 66, 66, 0.9), 2px 2px 5px rgba(16, 16, 16, 0.9), inset 1px 1px 2px rgba(66, 66, 66, 0.3), inset -1px -1px 2px rgba(16, 16, 16, 0.5);
}


.dashboardpg{
    background-color: rgba(41, 41, 41, 1);
    height: 100%;
    min-height: 3243px;
    width: 100%;
    min-width: 1000px;
}
.second_con{
    display: flex;
    max-width: 2500px;
    margin: 0 auto;
    min-width: 1000px;
}
.main_con{
   /* flex: 4.3 ; */
   display: flex;
   flex-direction: column;
   row-gap: 1.4em;
   width: 80%;
   color: red;
  
    
}
.sidebar_con{
    display: block;
   /* flex: 1; */
flex-shrink: 0;
/* min-width: 200px; */
width: 20%;



}
.maincon_heading{
    display: flex;
    padding: 2%;
    
}
.maincon_heading img {
    width : 3.5em ;
}
.maincon_heading span , .counselling_heading {
    font-size: 2em;
    color: #FFFFFF;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        align-items: center;
        display: flex;
        padding-left: 2%;
        text-decoration: underline;
        text-decoration-color: rgba(198, 54, 56, 0.5);
        text-underline-offset: 0.5rem;
}
.main_con_first{
    width: 95%;
    border: 1px solid rgba(198, 54, 56, 0.8);
    height: 27em;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1.7em;
    box-shadow: var(--box-shadow2);

}
.totalincome{
  width: 36%;
  height: 81%;
border-radius: 1.7em;
box-shadow: var(--box-shadow1);
}
.income_chart{
  width:54% ;
 height: 81%;
border-radius: 1.7em;
box-shadow: var(--box-shadow1);

}
.totalincome h2 {   
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 1.7em;
        /* line-height: 33px; */
        color: #FFFFFF;
        padding-top : 1%;
        padding-left: 5%;
        text-decoration: underline;
            text-decoration-color: rgba(198, 54, 56, 0.5);
            text-underline-offset: 0.5rem;

}
.totalincome h3 {
   padding-left: 15%;
   padding-top: 4%;
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    /* font-size: 3.075em; */
    font-size: 52px;
     margin-bottom: 1em;
    color: #FFFFFF;
}
.income_btm_con{
    display: flex;
    justify-content: space-around;
}
.weekly_income{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
      
        
       
}
.monthly_income{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
       
        color: #FFFFFF;
        display: flex;
            flex-direction: column;
            align-items: center;
        /* margin-left:30% ; */
}

.dashboard_conversion{
    height:49.2em;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  
  
}
.conversion_chart1{
   width: 72%;
    /* border: 1px solid rgba(198, 54, 56, 0.8); */
 
    
}

.conversion_chart2{
 
    width: 25.6%;
    height: 48.487em;
    border: 1px solid rgba(198, 54, 56, 0.8);
    border-radius: 25px;
     box-shadow: var(--box-shadow2);

}

.conversion_chart1_first{
    display: flex;
        justify-content: space-between;

}
.total_inquiries{
    width: 45.8%;
    height:22.9em;
    border: 1px solid rgba(198, 54, 56, 0.8);
    box-shadow: var(--box-shadow2);
    border-radius: 25px;
}
.total_conversion{
    width: 51%;
    height: 22.9em;
    border: 1px solid rgba(198, 54, 56, 0.8);
    border-radius: 25px;
    box-shadow: var(--box-shadow2);
}
.conversion_chart1_second{
    
    /* width: 100%; */
    margin-top: 3%;
    height: 23.8em;
    border: 1px solid rgba(198, 54, 56, 0.8);
    border-radius: 25px;
    box-shadow: var(--box-shadow2);
}
.leads_con{
    height: 29.4em;
    width: 95%;
    margin: auto;
    border: 1px solid rgba(198, 54, 56, 0.8);
    border-radius: 25px;
    box-shadow: var(--box-shadow2);
}
.ul_leads  {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.input_pd{
    background-color: #292929;
    /* width: 206px; */
    height: 50px;
}
.leads_head{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        color: #FFFFFF;
        padding: 2%;
        text-decoration: underline;
            text-decoration-color: rgba(198, 54, 56, 0.5);
            text-underline-offset: 0.5rem;
}

.leads_input_pd{
background: #292929;
    border: 1px solid rgba(198, 54, 56, 0.8);
    box-shadow: -5px 5px 10px rgba(28, 28, 28, 0.2), 5px -5px 10px rgba(28, 28, 28, 0.2), -5px -5px 10px rgba(54, 54, 54, 0.9), 5px 5px 13px rgba(28, 28, 28, 0.9), inset 1px 1px 2px rgba(54, 54, 54, 0.3), inset -1px -1px 2px rgba(28, 28, 28, 0.5);
    border-radius: 8px;
    /* width: 266px; */
        height: 50px;
        margin-right: 2em;
        margin-top: 1em;
        outline: none;
        padding-left: 8%;
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            color: #CDD5FF;


}
.leads_input_pd::placeholder {
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #CDD5FF;
  
    

}

.lead_titles{
    list-style: none;
    display: flex;
    /* justify-content: space-around; */

}

.lead_titles li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    padding-right:4% ;

}
.lead_titles li span {
font-weight: 400;
}
.status_bar{
  width: 90.2%;
  margin: 0 auto;
  height: 2em;
border: 1px solid rgba(198, 54, 56, 0.8);
margin-top: 7em;
background-color: #292929;
}
.Circle_leads {

    /* width: 64px; */
    height: 64px;
    border-radius: 50%;
  border: 1px solid rgba(198, 54, 56, 0.8);
  position: absolute;

}
.crl_1{
    margin-top: -1em;
    margin-left: -0.5em;
    background-color: #292929;
    border-right-color:transparent;
    


}
.crl_2 {
    margin-top: -1em;
    /* margin-left: -0.5em; */
    background-color: #292929;
    margin-left: 8em;

}
.warning_img{
    width: 1.5em;
    margin-left: 3%;
}
.leads_notes{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
       margin-left: 2%;
        color: #FFFFFF;
}
.pg_fourthcon{
     margin: 0 auto;
     display: flex;
    width: 95%;
    justify-content: space-between;
     

}

.App_comp{
    width: 70.2%;
    height: 22em;
    border: 1px solid rgba(198, 54, 56, 0.8);
    box-shadow: var(--box-shadow2);
    border-radius: 25px;
}
.stu_irst{
    width: 27.6%;
    height: 22em;
    border: 1px solid rgba(198, 54, 56, 0.8);
        box-shadow: var(--box-shadow2);
        border-radius: 25px;
      
        

}
.tbl_std_int_tbody {
    max-height: 75%;
overflow-y: auto;
    overflow-x: auto;
}
.tbl_app_complete {
    max-height: 75%;
        overflow-y: auto;
        overflow-x: auto;
}
.tbl_std_int_tbody th , .thead_appcomp_table{
    position: sticky;
        top: 0px;
        background-color: rgba(41, 41, 41, 1);
        z-index: 1;
}

.appcomp_para{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
         color: #FFFFFF;
         margin-left: 4%;
        text-decoration: underline;
            text-decoration-color: rgba(198, 54, 56, 0.5);
            text-underline-offset: 0.5rem;
}

.appcomp_th_country{
    width: 15%;
}
.appcomp_th_course{
    width: 35% ;
}
.appcomp_th_doj{
    width: 10%;
}

.appcomp_table{
    width: 95%;
    margin: 0 auto;
    /* display: block; */
    
}

.table_headfz {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        width: 100%;
        
}
.table_SI_headfz{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
}
.tr_app_comp{
    text-align: center;
    height: 2.2em;
    width: 100%;
}
.table_td{
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.6;

}
.appcomp_tr_th{
    height: 3em;
    width: 100%;
}
.list_img{
    width: 1.2em;
}
.stu_int_td{
    /* width: 8em; */
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        text-transform: capitalize;
        color: #F2F3F2;
        opacity: 0.8;
        height: 2.2em;
        text-align: center;
}
.appcomp_tbody {
    width: 95%;
    margin: 0 auto;
}
.appcomp_table thead tr {
     width: 100%;
    /* display: inline-block; */
    /* margin: 0 auto; */
    /* background-color: white; */

}
.th_name_appcomp{
    flex: 3;
}
.th_country_appcomp{
    flex: 7;
}
.th_course_appcomp {
    flex: 2;
}
.th_doj_appcomp {
    flex: 2;
}
.thead_appcomp_table{
    width: 100%;
}
.list_con{
    height: 22em;
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: 0 auto;

}
.employee_list , .students_list {
    width: 49%;
    height: 100%;
    border: 1px solid rgba(198, 54, 56, 0.8);
        box-shadow: var(--box-shadow2);
        border-radius: 25px;

}
.list_con_head{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    /* margin: 0 auto; */

}
/* .name_hd {
    width: 20%;
}
.country_hd{
    width: 20%;
}
.course_hd{
width: 40%;
}
.doj_hd{
width: 10%; */


.edit_img{
    width: 1.3em;
}
.appcomp_table ::-webkit-scrollbar {
    width: 0.3em;
    background-color: white;
}

.appcomp_table ::-webkit-scrollbar-thumb {
    width: 0.3em;
    height: 1em;
    background-color: #393737;
}
.enquiry_list{
    width: 95%;
    margin: 0 auto;
    height: 23em;
    border: 1px solid rgba(198, 54, 56, 0.8);
        box-shadow: var(--box-shadow2);
        border-radius: 25px;


}
.fz_18{
    font-size: 18px;
    width: 100%;
}
.tr_enq_list{
    width: 100%;
        color: #FFFFFF;
            opacity: 0.6;
            font-size: 1em;
            text-align: center;
    /* display: flex; */
    
}
.tb_enq_list{
    width: 100%;
}
.income_chart img {
    width: 100%;
    height: 100%;
    padding: 0% ;
}
.ht_chg {
    max-height: 65%;
}
.barchart_div {
    height: 90%;
}
.total_inquiries img  {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    height: 50%;
}
.total_conversion img {
width: 50%;
margin-left: 20%;
height: 55%;
}
.barcharthead {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5em;
        line-height: 27px;
        color: #FFFFFF;
        text-decoration: underline;
            text-decoration-color: rgba(198, 54, 56, 0.5);
            text-underline-offset: 0.5rem;
            margin-left: 8%;
}

.onl_inquiry {
    width: 3em;
    height: 2em;
    background-color:  rgba(168, 8, 8, 1);
    border-radius: 0.3em;
    margin-left: 10%;
}
.clr_blue {
    background-color: rgba(48, 100, 173, 1);
}
.mb_2 {
    margin-bottom: 2%;
}
.onl_inq {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 1.3em;
        color: #FFFFFF;
        margin-left: 3%;
}
.wd_2 {
    width: 2em;
    height: 50%;
    /* padding: 1%; */
   
}
.dls_flexx {
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
}
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em
}
::-webkit-scrollbar-track-piece {
    background: rgba(41, 41, 41, 1);
}

::-webkit-scrollbar-thumb {
    background: rgb(110, 104, 104)
}

​{
/* 
 @media only screen and (max-width: 1000px) and (min-width: 750px) {

    
    #root{
        font-size: 14px;
    }
        .dashboardpg {
            width: 100% ;
            min-width: 300px
        }
    
       
       .header_div {
            min-width: 300px;
                }     
        .second_con{
            min-width: 240px;
        }
     .totalincome h3 {
    
            padding-top: 14%;
            font-size: 2.575em;
    }
        .totalincome h2 {
         

        }
} */}