.ul_sidebar{
    list-style: none;
    padding-left: 35%;
    margin: 0px auto ;
}

.ul_sidebar img {
  width : 2em ;
  padding-top: 1.6rem;
  padding-bottom: 1.6em;
  margin: 0px auto;
  

  
}

.sidebar_maincon{
    width: 48%;
    height: 39.5rem;
    border: 1px solid rgba(198, 54, 56, 0.8);
    border-radius: 25px;
    margin:0px auto;
    margin-top: 8rem;
    box-shadow: var(--box-shadow2);
}
.selected  img {
  font-weight: 900 ;
  box-shadow: 2px solid red;
  font-size: 1.4em;
  /* width: 30px; */
}

